/*
font-family: 'Aleo', serif;
font-family: 'Crimson Text', serif;
font-family: 'VT323', monospace;
font-family: 'Source Code Pro', monospace;
*/

/*Elements*/

div{
  font-weight: 300;
  padding: 10vh;
  border: 0vh;
  margin: 0vh;
}
body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 0vh;
  padding: 0vh;
  margin: 0vh;
}

h1{
  font-family: 'Aleo', serif;
  font-size: 3em;
}
h2{
  font-family: 'Aleo', serif;
  font-size: 2.5em;
}

p{
  font-family: 'Crimson Text', serif;
  font-size: 1.3em;
}

a{
  text-decoration: none;
  color: white;
  font-size: 1em;
  transition: font-size .5s ease;
  font-family: 'Source Code Pro', monospace;
}

ul{
  list-style-type: none;
  padding: 0vh;
  margin: 0vh;
  border: 0vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
}
li{

  margin: 0vh;
  border: 0vh;
  padding: 1vh;
  font-size: 1em;
  background-color: rgba(30,30,30,0.5);
  text-align: center;
}

/*Classes*/


.a-bg-white{
  color: black;
  background-color: rgba(255,255,255,0.9);
}


/*IDS*/
#intro{
  background-color: rgba(255,215,0,1);
}
#learn-css{
  background-color: rgba(245,206,0,1);
}
#css-libraries{
  background-color: rgba(232,196,0,1);
}
#debug{
  background-color: rgba(217,183,0,1);
}
#read{
  background-color: rgba(204,172,0,1);
}
#name{
  background-color: rgba(194,163,0,1);
}
#practice{
  background-color: rgba(181,153,0,1);
}
#final{
  background-color: rgba(171,144,0,1);
}

/*animations*/
a:hover{
  font-size: 1.5em;
}

@media only screen and (orientation: landscape)
{
  ul{
    flex-direction: row;
  }
